<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098334821045-738vcdp9593528qrcd17oog8lv3p432g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098334821045-738vcdp9593528qrcd17oog8lv3p432g</string>
	<key>API_KEY</key>
	<string>AIzaSyBIQJGCN2KCJpFX1tqTQZrt05h1oeSYXV8</string>
	<key>GCM_SENDER_ID</key>
	<string>1098334821045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daisukekawamura.PushNotificationandAppleSignIn</string>
	<key>PROJECT_ID</key>
	<string>applesigninandpushnotification</string>
	<key>STORAGE_BUCKET</key>
	<string>applesigninandpushnotification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098334821045:ios:f5b562a39e699f1c7dfcfc</string>
</dict>
</plist>